<footer class="site-footer mt-5">
    <div class="container text-center">
        <p class="mb-1 fw-semibold"></p>
        <p><strong>BookNest Library</strong></p>
        <p>Smart Library Management System</p>>
    </div>
</footer>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
</script>

</body>
</html>
